[submodule "silver"]
	path = silver
	url = https://github.com/viperproject/silver.git
[submodule "boogie_proofgen"]
	path = boogie_proofgen
	url = https://github.com/gauravpartha/boogie_proofgen
	branch = adjust_interface
[submodule "viper-roots-dev"]
	path = viper-roots-dev
	url = https://gitlab.inf.ethz.ch/gauravp/viper-roots-dev
