[submodule "silver"]
	path = silver
	url = https://github.com/viperproject/silver.git
[submodule "viper-roots"]
	path = viper-roots
	url = https://github.com/viperproject/viper-roots/
[submodule "boogie-proofgen"]
	path = boogie-proofgen
	url = https://github.com/viperproject/boogie-proofgen
	branch = cfg_optimizations
